@font-face{
    font-family: rubik-light;
    src: url(source/Rubik-Light.ttf);
}

@font-face{
    font-family: rubik-regular;
    src: url(source/Rubik-Regular.ttf);
}

@font-face{
    font-family: rubik-medium;
    src: url(source/Rubik-Medium.ttf);
}

@font-face{
    font-family: rubik-bold;
    src: url(source/Rubik-Bold.ttf);
}

:root {
    --prim: #040033;
    --sec: #79B0FE;
    --clr3: #070147;
  }

body {
    //background-image: linear-gradient(315deg, #00196b 0%, var(--prim) 90%);
    background: linear-gradient(to right, #05164e, var(--prim), #05164e);
    min-height: 98.4vh;
    padding: none;
    margin: none;
    color: white;
    font-family: rubik-regular;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    .navimg {
        width: 20px;
        padding-left: 10px;
    }

    .navlogo {
        display: flex;
        
        .navlogotxt {
            font-family: rubik-bold;
            font-size: 1.4em;
            text-decoration: none;
            color: white;

            span {
                color:var(--sec);
            }
        }
    }

    .mainnav {
        display: none;
        background-color: var(--clr3);
        font-size: 1.3em;
        height: 35vh;
        border-bottom-left-radius:50px;
        z-index: 999;
        position: fixed;
        width: 55%;
        right: 0;
        top: 0;
        padding: 2%;

        .mobile-menu-close {
            margin: 10px 5%;
            float: right;
    
            .menu-img-close {
                width: 30px;
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            margin-top: 80px;
            padding: 0px;
            text-align: right;

            li {
                padding: 10px 20px;
                
                
                a {
                    text-decoration: none;
                    color:white;
                }
            }
        }
    }


    .navcta {
        display: none;
    }


    .mobile-menu {
        display: flex;
        

        //js : after click
        //padding: 20px 0px;
        
        img {
            width: 30px;
        }
    }
}


.hero {
    display: flex;
    flex-direction: column;
    //padding-top: 30px;
    text-align: center;
    //height: 100vh;

    .hero-text {
        padding: 50px 20px;
            
    
        .hero-bigtext {
            font-family: rubik-bold;
            font-size: 2.4em;
        }
    
        .hero-smalltext {
            padding-top: 13px;
            padding-bottom: 30px;
            padding-left: 20px; padding-right: 20px;
            font-family: rubik-light;
            color:#c2c2c2;
            font-size: 1.1em;
            
            
            
        }
    
        .hero-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        
            .hero-cta {
                background-color: var(--sec);
                color: var(--prim);
                padding: 1em 2em;
                border-color: white;
                border-radius: 1em;
                font-family: rubik-medium;
                font-size: .9em;
                width: 50%;
                margin-bottom: 20px;
            }
        
            .hero-cta2 {
                padding: 1em 2em;
                border-color: var(--sec);
                border-style: outset;
                border-width: 2px;
                border-radius: 1em;
                font-family: rubik-medium;
                font-size: .9em;
                width: 50%;
                color:var(--sec);
            }
        }
    }
    
    .hero-illu {
        margin: 0px 20px;

        img {
            width: 100%;
            
        }
    }
}


.form-container {
    display: flex;
    border-color: var(--sec);
    border-radius: 30px;
    border-style: outset;
    border-width: 2px;
    padding: 23px;
    margin: 50px 15px;
    width: 80%;
    justify-content: space-around;
    margin-left: auto; margin-right: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    

    .form-left {
        font-size: 1em;
        display: flex;

        .form-txt {
            width: 80%;
        }

    }

    .form-right {
        margin: 0;
        padding: 0;
        width: 80%;

        form {

            input {
                background-color: var(--prim);
                color: white;
                border-radius: 15px;
                margin: 2%;
            }
        }

        .form-cta {
            background-color: var(--sec);
            color: var(--prim);
            padding: 12px;
            border-radius: 20px;
            font-family: rubik-medium;
            font-size: .9em;
            width: 25%;
            margin: 15px 0px;
            text-align: center;
            
        }
    }
}




.gallery-container {
    display: flex;
    flex-direction: column;


    .title-text {
        text-align: center;
        font-family: rubik-medium;
        font-size: 1.3em;
        
        p {
            margin-top: 45px;
            margin-bottom: -3px;
    
            span {
                color: var(--sec);
            }
        }
    }
    

    .container-card {
        //margin: 5% 10%;

        .card-container {
            border-radius: 35px;
            padding: 25px;
            margin: 35px 45px;
            background-image: linear-gradient(315deg, var(--clr3) 0%, #010763 80%);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            
            
    
            .card-pic {
                padding: 3px;
    
                img {
                    width: 100%;
                    border-radius: 10px;
                }

            }

    
            .card-text {
                padding: 6px;
    
                .card-title {
                    font-family: rubik-bold;
                    padding-top: 7px;
                    font-size: 1.4em;
                }

                .card-title:hover {
                    color:hsl(178, 97%, 72%);
                    cursor: pointer;
                }
    
                .card-desc {
                    font-family: rubik-light;
                    color:hsla(213, 100%, 92%, 0.897);
                    font-size: 1.1em;
                    padding: 5px 0px;
                    padding-bottom: 10px;
                }
    
                .card-detail {
                    display: flex;
                    justify-content: space-between;
    
                    .card-price {
                        color:hsl(178, 97%, 72%);
                        font-family: rubik-medium;
                        display: flex;
                        align-items: center;
    
                        img {
                            padding-right: 6px;
                        }
                    }
    
                    .card-time {
                        color:hsla(213, 100%, 92%, 0.897);
                        display: flex;
                        align-items: center;
    
                        img {
                            padding-right: 6px;
                        }
                    }
                }
    
                .seperate {
                    content: "";
                    border-style: solid;
                    border-width: 0.5px;
                    margin: 15px 0px;
                    border-color :hsl(215, 32%, 40%);
                    
                }
    
                .card-creator {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 0.9em;
                    
    
                    .card-avatar {
                        width: 33px;
                        border-width: 2px;
                        border-style:solid;
                        border-radius: 50%;
                    }
    
                    .creator-name {
                        padding-left: 10px;
                        color:hsl(214, 100%, 92%);
                        font-family: rubik-light;
    
                        span {
                            color:white;
                            font-family: rubik-medium;
                        }
                    }
                }
            }
        }

        .card-container:hover {
            cursor: pointer;
            width: 17.5%;
        }
    }
}


.footer {
    display: flex;
    flex-direction: column;
    padding: 4%;
    margin: -7.5px;
    margin-top: 40px;
    background-image: linear-gradient(315deg, #cbedfd 0%, var(--sec) 100%);
    color: var(--clr3);
    text-align: center;
    align-items: center;

    .footer-about {

        .footer-title {
            font-size: 1.5em;
            font-family: rubik-medium;
        }

        .footer-paragraph {
            inline-size: 310px;
            overflow-wrap: break-word;
            font-size: 1.1em;
        }
    }

    .seperate {
        content: "";
        border-style: solid;
        border-width: 0.5px;
        margin: 30px 0px;

        width: 70%;
        border-color:#070147;
    }

    .footer-links {

        .footer-main {

            ul {
                display: flex;
                list-style: none;
                margin: 0px; padding: 0px 25px;
                font-size: 1.1em;
                flex-direction: row;
                justify-content: center;

                li {
                    padding: 0px 8%;

                    a {
                        text-decoration: none;
                        color: #040033;
                    }

                    a:hover {
                        font-size: 1.1em;
                    }
                }
            }
        }
    }

    .footer-socials-follow {
        h3 {
            margin-top: 20px;
            font-size: 1.5em;
            font-family: rubik-medium;
        }
    
        .footer-socials-link {
            display: flex;
            
            a {
                margin: 0px 14px;

                img { 
                    width: 48px;
                }
            }
        }
    }

}





@media screen and (min-width: 719px) {

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 20px;
    
        .navimg {
            display: none;
        }

        .navlogo {
            display: flex;


            
            .navlogotxt {
                font-family: rubik-bold;
                font-size: 1.4em;
            }
        }
    
        .mainnav {
            display: flex;
            font-size: 1.2em;
            height: unset;
            z-index: 999;
            position:relative;
            width: unset;
            padding: 0px;
            background-color: transparent;
            
            .mobile-menu-close {
                display: none;
            }

            ul {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                font-size: 0.9em;
                margin: 0px;
                padding: 0px;
                
    
                li {
                    
                    padding: 0px 30px;

                    a {
                        color:#b3b3b3;
                    }
                    
                    a:hover {
                        color: white;
                        font-size: 1.1em;
                        cursor:pointer;
                    }
                }

            }
        }

    
    
        .navcta {
            display: flex;
            background-color: #79B0FE;
            color: #040033;
            border-color: white;
            border-radius: 20px;
            padding: 13px;
            font-family: rubik-medium;
            font-size: .9em;
        }

        .navcta:hover {
            cursor:pointer;
            border-color: white;
            border-style: outset;
            border-width: 1px;
        }

        .mobile-menu {
            display: none;
        }
    }


    .hero {
        //padding-top: 80px;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        text-align:start;
        height:91.2vh;

        .hero-text {
            //margin-left: 70px;
            padding-right: 100px;
            //padding-left: 100px;
            
            .hero-bigtext {
                font-size: 3em;
                width: 400px;
                padding-bottom: 15px;
                
            }

            .hero-smalltext {
                font-size: 1.2em;
                width: 400px;
                padding-bottom: 30px;
                padding-left: 0px; padding-right: 0px;
            }
        }

        .hero-btn {
            justify-content: flex-start !important;
            flex-direction: row !important;
            text-align: center;
            
            
            .hero-cta {
                margin-bottom: 0 !important;
                padding: 1.1em 0.1em !important;
                width: 40% !important;
                margin-right: 20px;
            }

            .hero-cta2 {
                padding: 15px 0px !important;
                width: 40% !important;
            }


            .hero-cta:hover {
                cursor:pointer;
                border-color: white;
                border-style: outset;
                border-width: 1px;
            }

            .hero-cta2:hover {
                cursor:pointer;
            }
        }

        .hero-illu {
            
            img {
                
                width: 650px;
                
            }
        }
    }



    .gallery-container{
        
        .title-text {
            margin-top: 50px;
            margin-bottom: -20px;
            font-size: 1.7em;
        }

        .container-card {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 21px 0px;
    
            .card-container {
                width: 17%;
                margin: 30px;
            }
    
        }
    }

    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 2% 5%;
    
        .footer-about {

            .footer-title {
                margin: 0px 0px;
            }
    
            .footer-paragraph {
                inline-size: 320px;
                overflow-wrap: break-word;
                font-size: 1.1em;
                margin-top: 4px;
            }
        }
    
        .seperate {
            width: 12%;
        }
    
        .footer-links {
            
            .footer-main {
    
                ul {
    
                    li {
                        padding: 0px 10%;
                    }
                }
            }
        }
    

    
        .footer-socials-follow {
            display: flex;
            flex-direction: column;
            width: 280px;
            justify-content: center;

            h3 {
                margin-top: 0px;
            }

            .footer-socials-link {
                flex-wrap: wrap;
                inline-size: 200px;
                margin-left: auto; margin-right: auto;
                justify-content: center;
                margin-top: -12px;
                
            }
        }
    }
}